rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{documents=**} {
      allow write, update: if request.auth != null;
      allow read, get, set: if true;
    }
  }
}

